@using KlantenDienstData.Models
@model Categorie

<div class="cs-categorieenBlock">

    <div class="cs-categorieBlock">
        <a asp-action="ArtikelsPerCategorie" asp-controller="Artikel" asp-route-id="@Model.CategorieId" class="btn btn-sm cs-categorieNaam">@Model.Naam</a>

        <div class="cs-editDeleteAddBtns">
            @if (Model.InversehoofdCategorie.Any())
            {
                <button type="button" class="btn btn-sm cs-btns" onclick="toggleSub('@Model.CategorieId', this)">
                    <img src="/images/arrowBtn.png" alt="Subcategorieen" class="cs-btnsImg cs-arrow" />
                </button>
            }
            <!-- ToevoegenSubcategorie -->
            <a asp-action="AddSubcategorie" asp-controller="Categorie" asp-route-id="@Model.CategorieId" class="btn btn-sm cs-btns">
                Toevoegen <img src="/images/addBtn.png" alt="Toevoegen" class="cs-btnsImg" />
            </a>

            <!-- Wijzigen -->
            <a asp-action="Wijzigen" asp-controller="Categorie" asp-route-id="@Model.CategorieId" class="btn btn-sm cs-btns">
                Wijzigen <img src="/images/editBtn.png" alt="Wijzigen" class="cs-btnsImg" />
            </a>

            <!-- Verwijderen -->
            <form asp-action="VerwijderenBevestig"
                  asp-controller="Categorie"
                  asp-route-id="@Model.CategorieId"
                  method="get"
                  style="display:inline">

                <button type="submit" class="btn btn-sm cs-btns"
                        @(Model.InversehoofdCategorie.Any() || Model.ArtikelCategorieen.Any() ? "disabled title='Kan niet verwijderd worden omdat er subcategorieën of artikelen zijn.'" : "")">
                    Verwijderen
                    <img src="/images/deleteBtn.png" alt="Verwijderen" class="cs-btnsImg" />
                </button>
            </form>
        </div>
    </div>

    @if (Model.InversehoofdCategorie.Any())
    {
        <div id="sub-@Model.CategorieId" class="cs-subcategorieContainer">
            @foreach (var sub in Model.InversehoofdCategorie)
            {
                @await Html.PartialAsync("_CategorieButton", sub)
            }
        </div>
    }
</div>