@model ArtikelViewModel
@{
        ViewData["Title"] = "Overzicht Artikelen";
}
<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th>Prijs</th>
            <th>Categorie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artikel in Model.Artikelen)
        {
            <tr>
                <td>@artikel.Naam</td>
                <td>@artikel.Beschrijving</td>
                <td>@artikel.Prijs.ToString("C")</td>
                <td>
                    <ul>@foreach(var categorie in artikel.Categorieën)
                        {
                            <li>@categorie.Naam</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
