@using KlantenDienstData.Enums
@model ActiecodeVM
@{
    ViewData["Title"] = "Actiecodes";
}

<h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>

<a asp-action="ToevoegFormulier" asp-controller="Actiecode" class="btn btn-sm btn-primary mb-2">Actiecode Toevoegen</a>

<div class="d-flex gap-2 mb-4">
    <form asp-action="Index" method="get">
        <div class="dropdown"
             data-bs-auto-close="false">
            <button class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Zoekfilters
            </button>

            <div class="dropdown-menu col-md-4">
                <div class="d-grid">
                    <a asp-action="Index" title="Wissen Filters" class="btn btn-secondary">
                        Wis Filters
                        <img src="~/images/deleteBtn.png" class="cs-btnsImg" alt="Wissen Filters" />
                    </a>
                </div>
                <label class="form-label">Filter:</label>

                <select name="filter" class="form-select" onchange="toggleDate(this.value)">
                    <option value="Geen" selected="@(Model.HuidigeFilter == ActiecodeStatus.Geen)">Kies filter</option>
                    <option value="Actief" selected="@(Model.HuidigeFilter == ActiecodeStatus.Actief)">Nu actief</option>
                    <option value="NietActief" selected="@(Model.HuidigeFilter == ActiecodeStatus.NietActief)">Niet actief</option>
                    <option value="ExacteDatum" selected="@(Model.HuidigeFilter == ActiecodeStatus.ExacteDatum)">Op datum</option>
                </select>

                <div class="mb-3" id="datumContainer" style="display:none">
                    <label class="form-label">Datum</label>
                    <input type="date" name="datum" class="form-control" value="@Model.HuidigeDatumString" />
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">
                        Zoeken
                    </button>
                </div>
  
            </div>

        </div>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Actiecode
                <a asp-action="Index"
                   asp-route-filter="@Model.HuidigeFilter"
                   asp-route-datum="@Model.HuidigeDatumString"
                   asp-route-sorteerOpties="Naam" 
                   asp-route-sorteerRichting="Asc" class="btn btn-sm px-1 sort-btn
                @(Model.SorteerOpties == ActiecodeSorteerOpties.Naam && Model.SorteerRichting == SorteerRichting.Asc ? "btn-primary" : "btn-light")">▲</a>
                
                <a asp-action="Index"
                   asp-route-filter="@Model.HuidigeFilter"
                   asp-route-datum="@Model.HuidigeDatumString"
                   asp-route-sorteerOpties="Naam" 
                   asp-route-sorteerRichting="Desc" class="btn btn-sm px-1 sort-btn
                @(Model.SorteerOpties == ActiecodeSorteerOpties.Naam && Model.SorteerRichting == SorteerRichting.Desc ? "btn-primary" : "btn-light")">▼</a>
            </th>
            <th>Van
                <a asp-action="Index"
                   asp-route-filter="@Model.HuidigeFilter"
                   asp-route-datum="@Model.HuidigeDatumString"
                    asp-route-sorteerOpties="GeldigVanDatum" 
                    asp-route-sorteerRichting="Asc" class="btn btn-sm px-1 sort-btn
                @(Model.SorteerOpties == ActiecodeSorteerOpties.GeldigVanDatum && Model.SorteerRichting == SorteerRichting.Asc ? "btn-primary" : "btn-light")">▲</a>
                
                <a asp-action="Index"
                   asp-route-filter="@Model.HuidigeFilter"
                   asp-route-datum="@Model.HuidigeDatumString"
                    asp-route-sorteerOpties="GeldigVanDatum" 
                    asp-route-sorteerRichting="Desc" class="btn btn-sm px-1 sort-btn
                @(Model.SorteerOpties == ActiecodeSorteerOpties.GeldigVanDatum && Model.SorteerRichting == SorteerRichting.Desc ? "btn-primary" : "btn-light")">▼</a>
            </th>
            <th>Tot
                <a asp-action="Index"
                   asp-route-filter="@Model.HuidigeFilter"
                   asp-route-datum="@Model.HuidigeDatumString"
                    asp-route-sorteerOpties="GeldigTotDatum" 
                    asp-route-sorteerRichting="Asc" class="btn btn-sm px-1 sort-btn
                @(Model.SorteerOpties == ActiecodeSorteerOpties.GeldigTotDatum && Model.SorteerRichting == SorteerRichting.Asc ? "btn-primary" : "btn-light")">▲</a>
                
                <a asp-action="Index"
                   asp-route-filter="@Model.HuidigeFilter"
                   asp-route-datum="@Model.HuidigeDatumString"
                    asp-route-sorteerOpties="GeldigTotDatum" 
                    asp-route-sorteerRichting="Desc" class="btn btn-sm px-1 sort-btn
                @(Model.SorteerOpties == ActiecodeSorteerOpties.GeldigTotDatum && Model.SorteerRichting == SorteerRichting.Desc ? "btn-primary" : "btn-light")">▼</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var actiecode in Model.Actiecodes)
    {
        <tr>
            <td>@actiecode.Naam</td>
            <td>@actiecode.GeldigVanDatum.ToString("dd-MM-yyyy")</td>
            <td>@actiecode.GeldigTotDatum.ToString("dd-MM-yyyy")</td>
                <td>
                    <a asp-action="WijzigFormulier" asp-controller="Actiecode" asp-route-id="@actiecode.ActiecodeId" class="btn btn-sm cs-btns">
                        Wijzigen <img src="/images/editBtn.png" alt="Wijzigen" class="cs-btnsImg" />
            </a></td>
        </tr>
    }
    </tbody>
</table>

<script>
    function toggleDate(value) {
        document.getElementById("datumContainer").style.display =
            value === "ExacteDatum" ? "block" : "none";
    }
    document.addEventListener("DOMContentLoaded", function () {
        toggleDate("@Model.HuidigeFilter");
    });
</script>
